* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    text-align: center;
}

.container {
    height: 70vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #0b010b;

}

#reset-btn {

    padding: 1rim;
    height: 5vmin;
    width: 20vmin;
    font-size: 1.25rem;
    background-color: #1e0404;
    color: #f0eaea;
    border-radius: 0.5rem;
    border: none;

}

#new-btn {
    padding: 1rim;
    height: 5vmin;
    width: 20vmin;
    font-size: 1.25rem;
    background-color:  #0b0707;
    color: #f0eaea;
    border-radius: 0.5rem;
    border: none;
    
    }

#msg{
    color: black;
    font-size: 5vmin;

}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}